.App {
  text-align: center;
}

.title {
  font-size: 24px;
  text-decoration: none;
  margin: 2px;
}

.lang {
  background-color: lightblue;
  border: 2px solid grey;
  font-size: 14px;
  border-radius: 25px;
  padding: 5px;
}

.title a {
  text-decoration: none;
}

.title a:hover {
  border: 1px dashed;
  padding: 5px;
}

.tle a {
  text-decoration: none;
}

.tle a:hover {
  border: 1px dashed;
  border-radius: 100%;
  padding: 7px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ft {
  margin-top: 3%;
}

.flt {
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
